
a {
  color: #ff4081;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body, h1, h2, h3, h4, h5, h6 {

  font-family: Roboto,sans-serif;
  color:#FFFFFF;
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 15px;
}

body {
  font-size: 15px;
  line-height: 24px;
	background-color: #444444;
}

/* Used in StylesOverridingCssExample.js */
.styles-overriding-css-example {
  width: 50% !important;
  margin: 0 auto !important;
  border: 2px solid #FF9800 !important;
  background-color: #ffd699 !important;
}

main {
	margin: 20px;
}

div .login-outer {
	text-align: center;
}
div .login-inner {
	display: inline-block;
	min-width: 300px;
}

div .paper {
	padding: 25px;
	margin: 25px;
}

td {
	width:auto;
}
th {
	width:auto;
}

th .small {
	width:1%;
	white-space: nowrap;
	align: right;
}
td .small {
	width:1%;
	white-space: nowrap;
	align: right;
}

div .error-label {
	color: #FF5050;
	opacity: 1;
}

div .paperPadding {
	padding: 25px;
	margin-bottom: 20px;
}
div .paperMargin {
	margin: 25px;
}
div .sliderMargin {
	margin-top: 5px;
	margin-bottom: 20px;
	min-width: 255px;
	max-width: 255px; 
}

div .imageListContainer {
	flex: 1;
	overflow: auto;
	max-height:450px;
}
div .imageListPreviousContainer {
	max-height: 500px;
	flex: auto;
	overflow: auto;
}
div .imageList{
	padding-top:5px;
	padding-bottom:5px;
	padding-right:5px;
}

div .editImageContainer {
	margin-left:15px;
	max-height: 100%;
	flex: 3;
	max-height:450px;
}

div .flexBox {
	display:flex;
	height:100%;
}

div .flowRight {
	align:right;
}
div .redaxCard {
	padding-left:5px;
	padding-right:5px;
	margin-top: 10px;
	margin-bottom: 15px;
}
div .viewOldRaspCard {
	padding:15px;	
	flex:1;
	
}

div .flexFlow {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
}

div .flexGrow {
	flex:1;
	align-items:stretch;

}
